# -----------------------------------------------------------------------------
# OS X
# -----------------------------------------------------------------------------

._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon
