'core':
  'themes': [
    'solarized-dark-ui'
    'solarized-dark-syntax'
  ]
  'excludeVcsIgnoredPaths': false
  'disabledPackages': []
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'linter-eslint':
  fixOnSave: true
'linter-ui-default':
  showPanel: true
'welcome':
  'showOnStartup': false
