"*":
  "atom-beautify":
    css:
      beautify_on_save: true
    html:
      beautify_on_save: true
    js:
      beautify_on_save: true
    json:
      beautify_on_save: true
    python:
      max_line_length: 89
  core:
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    preferredLineLength: 89
  "elm-format":
    binary: "/usr/local/bin/elm-format"
  elmjutsu:
    cacheDirectory: "/var/folders/75/n7y5gp_96fj7hfzmzymf0_8c0000gn/T/elmjutsu11520iBa02NIwfxuF"
  "exception-reporting":
    userId: "d3505a68-e35c-49e1-8711-493fe234c859"
  "language-elm":
    autocompleteEnabled: false
  "linter-eslint":
    fixOnSave: true
  "linter-flake8":
    maxLineLength: 89
  "linter-ui-default": {}
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
